@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap'); 
body {
    font-family: Bitter, 'Times New Roman', Times, serif;
    margin: 0;
}

img {
    height: 25px;
    width: 25px;
}

form > button {
    border: none;
    background: transparent;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p {
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: max-content;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-top: 2px;
}

h4 {
    margin-bottom: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

/* begin header area*/
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    padding: 1% 3% 0;
}
.search-row, .button-row {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.search-row .left-side, .button-row .left-side {
    grid-column: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 25px;
}

.search-row .right-side, .button-row .right-side {
    grid-column: 2;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 25px;
}

.search-row form {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#search {
    border-radius: 15px;
    border: 0;
    height: 25px;
    width: clamp(50px, 225%, 700px);
    background-color: #e0f2fe;
    padding: 1px 10px;
}

#search:focus {
    box-shadow: 1% 1% 1% 1% #e0f2fe;
}

.avatar {
    height: 100%;
    width: 13%;
}

.search-row span {
    font-weight: bold;
}

.button-row img {
    height: 100%;
    width: 15%;
}
#greeting {
    font-size: .75rem;
    font-weight: bold;
}

#user-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.user-name-main {
    display: flex;
    flex-direction: column;
}
.right-side > ul {
    display: flex;
    column-gap: 20px;
}

.right-side button {
  align-items: center;
  appearance: none;
  background-color: #0284c7;
  background-image: linear-gradient(1deg, #0284c7, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.right-side button:active,
.right-side button:focus {
  outline: none;
}

.right-side button:hover {
  background-position: -20px -20px;
}

.right-side button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
/*end header area*/

/*begin sidebar area*/
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #0284c7;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 50%;
    gap: 50px;
    padding: 10px;
}

.main-navigation, .second-navigation, .logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
}

#logo {
    height: 100%;
    width: clamp(40px, 80%, 100px);
}

.logo {
    grid-template-rows: 1fr;
}

.sidebar img {
    filter: invert(99%) sepia(0%) saturate(1572%) hue-rotate(328deg) brightness(112%) contrast(100%);
    place-self: center;
}

.sidebar a {
    align-self: center;
}

.sidebar h1 {
    color: white;
    margin: 0;
    align-self: center;
}

.main-navigation {
    grid-template-rows: repeat(6, 1fr);
}

.second-navigation {
    grid-template-rows: repeat(3, 1fr);
}


/*end sidebar area*/

/*begin main area*/
.cards {
    grid-column: 2;
    grid-row: 2;
    padding: 5px 20px;
    background-color: #e0f2fe;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-right: 20px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.link-row {
    display: flex;
    justify-content: right;
    column-gap: 25px;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.announcements-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#announcement-one, #announcement-two {
    border-bottom:1px solid #e0f2fe ;
}

#announcement-one h4 {
    margin-top: 0;
}

#announcement-three p {
    margin-bottom: 0;
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.trending-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.trending-card .avatar {
    height: 100%;
    width: 75%;
}

.trend-info {
    display: flex;
    flex-direction: column;
}
/*end main area*/